TRACKER_CONFIG:
    # The name of the tracker
    TRACKER_TYPE: NORFAIR_TRACK
    # The path of the config file
    CONFIG_PATH: trackerhub/configs/norfair_track.yaml
    # The path of the model file
    WEIGHT_PATH: osnet_x1_0_msmt17.pt


DETECTOR_CONFIG:
  # The name of the detector
  DETECTOR_TYPE: yolov7 # yolov7
  # The threshold for the IOU score
  IOU_TH: 0.45
  # The threshold for the confidence score
  CONF_TH: 0.45
  # The size of the image
  IMAGE_SIZE: 640
  # The path of the weight file
  WEIGHT_PATH: yolov7.pt
  # The device to run the detector
  DEVICE: cuda:0
  # F16 precision
  HALF: False

VIDEO_CONFIG:
  # The path of the input video
  INPUT_PATH: short_test.mp4
  # The path of the output video
  OUTPUT_PATH: Results
  # Show the video
  SHOW_VIDEO: True 
  # Save the video
  SAVE_VIDEO: False 
